/*
|
| Carolina Gonzalez Chavez
| - CSS de la Vista de empleadosMovimientos
|
*/

.empleadosMovimientos {}

/* Large desktops and laptops */
@media (min-width: 1600px) {
	/*body { border: 2px solid brown;}/**/
}
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {
	/*body { border: 2px solid yellow;}/**/
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/*body { border: 2px solid green;}/**/
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/*body { border: 2px solid cyan;}/**/
}
@media (max-width: 991px){
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*body { border: 2px solid orange;}/**/
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*body { border: 2px solid red;}/**/
}

