<!--
|
| Carolina Gonzalez Chavez
| - Vista de empleadosMovimientos
|
-->

<div class="view empleadosMovimientos" ng-controller="empleadosMovimientosController">

	<div class="container-fluid">
		<div class="row header">
			<div class="col-sm-6 ccs-title">
				<h2>Movimientos</h2>
				<ul>
					<li><span><a href="#/inicio">Inicio</a></span></li>
					<li><span> / Movimientos</span></li>
				</ul>
			</div>
			<div class="col-sm-6 ccs-buttons">
				<button class="btn btn-info" ng-click="actualizar()">
					<span ng-if="!cargando"><i class="fa fa-refresh fa-fw"></i> Actualizar</span>
					<span ng-if="cargando"><i class="fa fa-refresh fa-fw"></i> Cargando...</span>
				</button>
				<button class="btn btn-success" ng-click="agregar()" ng-if="aux.rol.id != 2"><i class="fa fa-plus fa-fw"></i> Crear nuevo</button>
			</div>
		</div>

		<input type="text" class="form-control form-control-search" ng-model="searchText"
			placeholder="Buscar en los resultados actuales..."><br />

		<div class="row section">
			<div class="col-xs-12">
				<div class="panel ccs-panel">
					<div class="panel-heading">
						<h5>Listado</h5>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<th width="30"><i class="ti-user"></i></th>
									<th>Empleado</th>
									<th>Fecha</th>
									<th>Tipo</th>
									<th width="61"></th>
								</thead>
								<tbody>
									<tr ng-repeat="movimiento in movimientos | filter:searchText">
										<td><i class="ti-user"></i></td>
										<td>[[ movimiento.nu_numero ]] - [[ movimiento.vc_nombre ]]</td>
										<td>[[ movimiento.vc_rol ]]</td>
										<td>[[ movimiento.id_tipo == 1 ? 'Internno' : 'Externo' ]]</td>
										<td>
											<a ng-click="editar(movimiento)" class="tooltip">
												<i class="fa fa-pencil fa-fw"></i>
												<span class="tooltiptext">Editar</span>
											</a>
											<a ng-click="eliminar(movimiento)" class="tooltip">
												<i class="fa fa-trash fa-fw"></i>
												<span class="tooltiptext">Eliminar</span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>